# Git
.git
.gitignore

# Docker
.dockerignore

# Dockerfile
docker-compose.dev.yml

# Env files
.env
ExampleEnv

# Python cache
pycache/
*.pyc

# Tests
testing/
.pytest_cache/
pytest.ini
pyproject.toml

#README
README.md